<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dizzle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.dizzle.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dizzle.ui.ColorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dizzle.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.ScreenVendors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.ScreenShare"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dizzle.ui.ScreenProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.VendorAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.EditVendorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dizzle.ui.SubVendorDetail"
            android:screenOrientation="portrait" />
      
        <activity
            android:name="com.dizzle.ui.PersonalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dizzle.ui.CompanyActivity" 
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>